@font-face {
    font-family: "NotoKufiArabic-Bold";
    src: url(../fonts/NotoKufiArabic-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "NotoKufiArabic-Regular";
    src: url(../fonts/NotoKufiArabic-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "NotoKufiArabic-SemiBold";
    src: url(../fonts/NotoKufiArabic-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "NotoKufiArabic-Medium";
    src: url(../fonts/NotoKufiArabic-Medium.ttf);
    font-weight: 500;
}

$normal: "NotoKufiArabic-Regular";
$medium: "NotoKufiArabic-Medium";
$semiBold: "NotoKufiArabic-SemiBold";
$bold: "NotoKufiArabic-Bold";
$mainColor: #414141;

body {
    font-family: $normal;
    text-align: start;
}

.owl-dots {
    display: none !important;
}

.container-fluid {
    padding-inline: 60px;

    @media(max-width:992px) {
        padding-inline: 15px !important;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .actions {
        display: none !important;
    }
}

.navbar-expand-lg .actions {
    gap: 20px;

    .navbar-toggler {
        border: none;
        outline: none;
        padding: 0;
    }
}

.modal-content {
    .modal-header {
        align-items: center;

        .close {
            padding: 0;
            margin: 0;
        }
    }
}

.form-inline {
    border: 1px solid #B0B0B0;
    border-radius: 24px;
    padding: 8px 16px;
    width: 470px;

    @media(max-width:1200px) {
        width: 400px;
    }

    input {
        margin: 0;
        background-color: transparent;
        border: none !important;
        box-shadow: none !important;
        padding-top: 8px;
        padding-inline-start: 12px;

        &::placeholder {
            color: #414141;
            font-size: 18px;
        }
    }

    button {
        background-color: transparent;
        border: none;
        outline: none;
    }

    @media(max-width:991px) {
        display: none;
    }
}

.modal-body .form-inline {
    @media(max-width:991px) {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }
}

.reg {
    height: 56px;
    padding: 12px 27px;
    color: #fff !important;
    text-decoration: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ED1C24;
    border-radius: 25px;
    font-family: $medium;

    @media(max-width:991px) {
        height: 40px;
        padding: 12px 20px;
        font-size: 14px;

    }
}

.log {
    height: 56px;
    padding: 12px 27px;
    color: #414141 !important;
    display: inline-flex;
    text-decoration: none !important;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 25px;
    border: 1px solid #ED1C24;
    font-style: normal;
    font-family: $medium;

    @media(max-width:991px) {
        height: 40px;
        padding: 12px 20px;
        font-size: 14px;

    }
}

/*.navbar*/

.navbar {
    padding-inline: 0;
    padding-block: 1rem;

    .navbar-collapse {
        @media(max-width:991px) {
            padding: 16px;
            border: 1px solid #f1f1f1;
            border-radius: 24px;
            margin-top: 16px;
        }
    }

    .navbar-brand {
        margin: 0;
        padding: 0;

        @media(max-width:991px) {
            width: 113px;

            img {
                width: 100%;
            }
        }
    }

    .navbar-nav {
        display: none;

        @media(max-width:991px) {
            display: flex;
            padding: 0;

            .nav-link {
                color: #000;
                font-family: $semiBold;
            }
        }
    }

    .register {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        gap: 20px;

        @media(max-width:991px) {
            justify-content: flex-start;
        }

        .login_actions {
            display: flex;
            align-items: center;
            gap: 8px;


        }
    }
}

/*links*/


.links {
    padding: 42px 40px 0;

    @media(max-width:991px) {
        display: none;
    }

    .container-fluid {
        position: relative;
        padding-inline: 70px;
    }

    .link {
        text-align: center;

        a {
            display: block;
            width: 100%;
            background-color: #ededed;
            padding: 13px 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 34px;
            font-size: 17px;
            border-radius: 25px;
            color: #000;
            font-family: $bold;
            text-decoration: none !important;
            transition: .3s all ease-in-out;

            &:hover {
                background-color: #ED1C24;
                color: #fff;
            }
        }
    }

    .owl-carousel {
        position: static;

        .owl-stage-outer {
            z-index: 2;
        }

        .owl-nav {
            position: absolute;
            top: 9px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            right: 0;

            button {
                outline: none !important;

            }

            .fa-chevron-right,
            .fa-chevron-left {
                border: 1px solid #7E38AD;
                color: #7E38AD;
                transition: .3s all ease-in-out;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;

                &:hover {
                    background-color: #7E38AD;
                    color: #fff;
                }
            }
        }

        .owl-dots {
            display: none;
        }
    }
}

.hero {
    padding: 50px 0;

    @media(max-width:991px) {
        padding: 15px 0;
    }

    .row {
        @media(max-width:991px) {
            flex-direction: column-reverse;

            .text-center {
                text-align: start !important;
            }

            img {
                max-width: 100%;
                margin-bottom: 16px;
            }
        }
    }

    .hero_content {
        h1 {
            font-size: 50px;
            font-family: $semiBold;
            line-height: 95px;
            color: $mainColor;

            @media(max-width:650px) {
                font-size: 22px;
                line-height: 32px;
            }
        }

        p {
            font-size: 35px;
            color: $mainColor;
            line-height: 66px;
            font-family: $medium;
            width: 600px;
            max-width: 100%;

            @media(max-width:650px) {
                font-size: 15px;
                line-height: 25px;
                width: 100%;
            }
        }

        .actions {
            display: flex;
            gap: 8px;
        }
    }
}

.most_trend {
    padding-top: 60px;

    @media(max-width:991px) {
        padding: 15px 0 !important;
    }

    .container-fluid {
        position: relative;
    }

    .most_trend_owl {
        position: static;

        .owl-nav {
            position: absolute;
            top: 15px;
            left: 60px;
            display: flex;
            gap: 20px;

            @media(max-width:991px) {
                display: none;
            }

            button {
                outline: none !important;
            }

            .fa-chevron-right,
            .fa-chevron-left {

                width: 40px;
                height: 40px;
                border: 1px solid #7E38AD;
                color: #7E38AD;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s all ease-in-out;

                &:hover {
                    background-color: #7E38AD;
                    color: #fff;
                }

            }
        }

        .link {
            a {
                text-decoration: none !important;

                .desc {
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                    border-radius: 0 0 25px 25px;
                    display: block;
                    height: auto;
                    margin-bottom: 24px;
                    padding: 16px;

                    @media(max-width:991px) {
                        padding: 10px;
                        margin-bottom: 8px;
                    }

                    h5 {
                        font-size: 24px;
                        color: $mainColor;
                        line-height: 34px;
                        font-family: $bold;
                        margin: 0;

                        @media(max-width:991px) {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }

                    span {
                        display: block;
                        color: $mainColor;
                        font-size: 20px;
                        line-height: 38px;

                        @media(max-width:991px) {
                            font-size: 12px;
                            line-height: 22px;
                        }
                    }

                    strong {
                        font-size: 24px;
                        color: $mainColor;

                        @media(max-width:991px) {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }

            }
        }
    }

    .head {
        margin-bottom: 30px;

        @media(max-width:991px) {
            margin-bottom: 20px;
        }

        h2 {
            color: #000000;
            font-family: $bold;
            font-size: 35px;
            line-height: 66px;
            margin: 0;

            @media(max-width:650px) {
                font-size: 16px;
                line-height: 26px;
            }
        }

        a {
            font-size: 26px;
            color: $mainColor;
            font-family: $bold;
            padding-inline-end: 123px;
            text-decoration: none !important;

            @media(max-width:991px) {
                padding-inline-end: 0
            }

            @media(max-width:650px) {
                color: #ED1C24;
                font-size: 13px;
                line-height: 23px;
            }
        }
    }
}

.trending {
    padding-top: 46px;
}

.links.brous_cats {
    display: block;
}

.brous_cats {
    .owl-carousel {
        .owl-nav {
            position: absolute;
            top: 15px;
            left: 60px;
            display: flex;
            gap: 20px;
            right: auto;
            width: unset;

            @media(max-width:991px) {
                display: none;
            }

            button {
                outline: none !important;
            }

            .fa-chevron-right,
            .fa-chevron-left {

                width: 40px;
                height: 40px;
                border: 1px solid #7E38AD;
                color: #7E38AD;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s all ease-in-out;

                &:hover {
                    background-color: #7E38AD;
                    color: #fff;
                }

            }
        }
    }

    .link {
        a {
            background-color: transparent;
            transition: .3s all ease-in-out;

            @media(max-width:650px) {
                line-height: 21px;
                padding: 7px 2px;
                font-size: 11px;
            }

            &:hover {
                color: #fff !important;
                background: #7E38AD !important;
                border: 1px solid #7E38AD !important;
            }
        }

        a.all {
            border: 1px solid #18477D;
            color: #18477D;
        }

        a.music {
            border: 1px solid #ED1C24;
            color: #ED1C24;
        }

        a.singers {
            border: 1px solid #346BD6;
            color: #346BD6;
        }

        a.comedy {
            border: 1px solid #E81C72;
            color: #E81C72;
        }

        a.radio {
            border: 1px solid #C20398;
            color: #C20398;
        }

        a.artist {
            border: 1px solid #00EA5E;
            color: #00EA5E;
        }

        a.sport {
            border: 1px solid #18477D;
            color: #18477D;
        }
    }

}

.donation {
    background-color: #9F0006;
    padding: 33px 0;

    @media(max-width:991px) {
        border-radius: 24px;
    }

    .img_div {
        text-align: end;

        @media(max-width:991px) {
            display: none;
        }
    }

    .content {
        h3 {
            font-size: 50px;
            font-family: $semiBold;
            line-height: 95px;
            color: #fff;

            @media(max-width:650px) {
                font-size: 18px;
                line-height: 28px;
            }
        }

        p {
            line-height: 48px;
            font-size: 25px;
            font-family: $medium;
            color: #fff;
            margin-bottom: 24px;

            @media(max-width:650px) {
                font-size: 12px;
                line-height: 22px;
            }
        }

        a {
            padding: 10px 33px;
            background-color: #fff;
            border-radius: 24px;
            color: #9F0006;
            display: inline-flex;
            font-size: 24px;
            line-height: 46px;

            @media(max-width:650px) {
                padding: 8px 24px;
                background-color: #fff;
                border-radius: 24px;
                color: #9F0006;
                display: inline-flex;
                font-size: 12px;
                line-height: 22px;
            }


        }
    }
}

.subscribe {
    padding: 75px 0 40px;

    @media(max-width:991px) {
        padding: 15px 0 !important;
    }

    .sub_holder {
        gap: 32px;

        .left_part,
        .right_part {
            width: 495px;
            background-color: #7E38AD;
            border-radius: 24px;
            color: #fff;
            padding: 18px;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media(max-width:991px) {
                width: 95%;
            }

            h3 {
                font-size: 30px;
                line-height: 56px;
                font-family: $semiBold;

                @media(max-width:991px) {
                    font-size: 18px;
                    line-height: 28px;
                }
            }

            p {
                font-size: 20px;
                font-family: $medium;
                line-height: 38px;

                @media(max-width:991px) {
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            form {
                background-color: #fff;
                border-radius: 24px;
                padding: 4px 12px;
                display: flex;
                justify-content: space-between;

                input {
                    background-color: transparent;
                    outline: none;
                    border: none;

                    @media(max-width:767px) {
                        width: 70%;
                    }

                    &::placeholder {
                        color: #b0b0b0;

                    }

                }

                button {
                    background-color: #7E38AD;
                    border: none;
                    padding: 12px 32px;
                    border-radius: 24px;
                    color: #fff;
                }
            }

            a {
                color: #7E38AD;
                background-color: #fff;
                border-radius: 24px;
                padding: 13px 32px;
                display: inline-block;
                width: fit-content;
                font-size: 20px;
                font-family: $medium;

                @media(max-width:991px) {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }
}

footer {
    background-color: #fff;
    padding: 20px 0;
    border-top: 1px solid #B0B0B0;

    .footer_links {
        gap: 40px;

        @media(max-width:650px) {
            gap: 24px;
        }
    }

    a {
        color: #b0b0b0;
        font-size: 20px;

        @media(max-width:650px) {
            font-size: 12px;
        }
    }
}

.bread {
    padding-top: 90px;
    padding-bottom: 20px;
    color: $mainColor;
    font-family: $medium;
    font-size: 18px;

    @media(max-width:767px) {
        padding-top: 16px;
        font-size: 14px;
    }

    a {
        color: $mainColor;
        text-decoration: none !important;
    }
}

.artist_info {
    .artis_wrapper {
        background-color: #f8f8f8;
        box-shadow: 0 2px 2px rgba($color: #000000, $alpha: .25);
        border-radius: 25px;
        padding: 44px 0;
        margin-bottom: 44px;
    }

    .right_part {

        align-items: center;
        gap: 35px;

        @media(max-width:767px) {
            gap: 15px;
            padding: 0 15px;
            margin-bottom: 22px;
        }

        img {
            max-width: 100%;
        }

        .thumbs {
            display: flex;
            flex-direction: column;
            gap: 21px;

            img {
                @media(max-width:767px) {
                    width: 78px;
                    height: 78px;
                    border-radius: 25px;
                }

            }

            .position-relative {
                img.play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    @media(max-width:767px) {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

        .main_img {
            position: relative;

            img {
                height: 600px;

                @media(max-width:767px) {
                    width: 250px;
                    height: 300px;
                    border-radius: 25px;
                }
            }

            .play {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100px;
                height: 100px;

                @media(max-width:767px) {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    .left_part {
        @media(max-width:767px) {
            padding: 0 15px;
        }

        h2 {
            font-size: 50px;
            line-height: 95px;
            color: $mainColor;
            font-family: $semiBold;
            margin: 0;

            @media(max-width:767px) {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 8px;
            }
        }

        h6 {
            font-family: $medium;
            font-size: 24px;
            color: $mainColor;
            line-height: 46px;

            @media(max-width:767px) {
                font-size: 12px;
                line-height: 15px;
            }
        }

        .rate {
            gap: 12px;
            margin-bottom: 20px;

            span {
                color: #b0b0b0;
                font-family: $medium;
            }

            @media(max-width:767px) {
                display: none !important;
            }
        }

        .rate_mobile {
            display: none;

            @media(max-width:767px) {
                display: flex;
                align-items: center;
                margin-bottom: 6px;

                img {
                    width: 13px;
                    margin-inline-end: 6px;
                }

                span {
                    font-size: 10px;
                    font-family: $bold;
                }
            }
        }

        .desc {
            font-size: 15px;
            color: $mainColor;
            line-height: 28px;
            width: 522px;
            max-width: 100%;
            font-family: $medium;
            margin-bottom: 24px;

            span {
                color: #ED1C24;
            }

            @media(max-width:767px) {
                width: 100%;
                font-size: 9px;
                line-height: 20px;
                margin-bottom: 16px;
            }
        }

        .reply {
            gap: 11px;
            background-color: #b0b0b0;
            border-radius: 25px;
            padding: 10px;
            margin-inline-end: 40px;

            span {
                font-size: 15px;
                color: #fff;
                font-family: $medium;
                line-height: 28px;
            }
        }

        .make_choise {
            margin: 15px 0;

            h4 {
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 47px;
                color: #000;
                font-family: $medium;
                position: relative;
                margin: 0;

                @media(max-width:767px) {
                    font-size: 18px;
                    line-height: 28px;
                }

                span {
                    background-color: #f8f8f8;
                    position: relative;
                    z-index: 2;
                    padding-inline-end: 16px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 28px;
                    width: 100%;
                    height: 1px;
                    background-color: #B0B0B0;

                    @media(max-width:767px) {
                        top: 15px;
                    }
                }
            }
        }

        .options {
            padding-inline-end: 40px;

            @media(max-width:767px) {
                padding: 0 !important;
            }

            .gift_opt {
                padding: 13px 18px;
                border: 1px solid #EDEDED;
                border-radius: 25px;
                margin-bottom: 10px;

                @media(max-width:767px) {
                    padding: 10px 14px;
                }

                .label {
                    @media(max-width:767px) {
                        img {
                            width: 16px;
                        }
                    }

                    span {
                        font-family: $medium;
                        margin-inline-start: 8px;
                        line-height: 30px;

                        @media(max-width:767px) {
                            font-size: 14px;
                        }
                    }
                }

                p {
                    font-size: 10px;
                    color: #B0B0B0;
                    margin: 0;

                    @media(max-width:767px) {
                        font-size: 8px;
                    }
                }

                .price {
                    direction: ltr;
                    color: $mainColor;
                    font-family: $medium;

                    @media(max-width:767px) {
                        font-size: 12px;
                    }
                }

            }

            .order_now {
                padding: 14px;
                border: none;
                background-color: #ED1C24;
                color: #fff;
                border-radius: 24px;
                text-align: center;
                width: 100%;
                margin-top: 6px;
                font-family: $medium;
                font-size: 24px;
                line-height: 45px;

                @media(max-width:767px) {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }
}

.share {
    background-color: #f8f8f8;
    padding: 40px 74px;

    @media(max-width:767px) {
        padding: 28px 0;
    }

    img {
        margin-inline-end: 30px;

        @media(max-width:767px) {
            width: 68px;
            height: 68px;
            margin-inline-end: 8px;
        }
    }

    h3 {
        font-size: 35px;
        font-family: $medium;
        line-height: 66px;

        @media(max-width:767px) {
            font-size: 16px;
            line-height: 26px;
        }
    }

    p {
        font-size: 24px;
        line-height: 32px;
        width: 670px;
        max-width: 100%;
        margin: 0;

        @media(max-width:767px) {
            font-size: 12px;
            line-height: 20px;

        }

        @media(max-width:1200px) {
            width: 100%;
        }

        span {
            color: #ED1C24;
        }
    }
}

.discover_more {
    padding-bottom: 120px;
}

.discover_more_owl {
    .owl-nav {
        display: none !important;
    }
}

.payment {
    .right {
        .heading {
            img {
                margin-inline-end: 20px;

                @media(max-width:767px) {
                    width: 60px;
                    margin-inline-end: 8px;
                }
            }

            h5 {
                font-size: 24px;
                line-height: 45px;
                font-family: $medium;
                margin: 0;

                @media(max-width:767px) {
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            p {
                color: $mainColor;
                font-size: 20px;
                line-height: 39px;
                font-family: $medium;

                @media(max-width:767px) {
                    font-size: 12px;
                    line-height: 22px;
                }
            }
        }

        form {
            padding: 60px 0;

            @media(max-width:767px) {
                padding: 30px 0;
            }

            .input_wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 20px;

                @media(max-width:767px) {
                    margin-bottom: 12px;
                }

                input,
                textarea {
                    border: 2px solid #EDEDED;
                    border-radius: 25px;
                    padding: 22px;
                    outline: none;
                    width: 100%;
                    resize: none;

                    @media(max-width:767px) {
                        padding: 14px;
                    }

                    &::placeholder {
                        font-family: $medium;
                        color: $mainColor;

                        @media(max-width:767px) {
                            font-size: 12px;
                        }
                    }
                }

                textarea {
                    height: 160px;
                }

                label {
                    font-size: 24px;
                    font-family: $medium;
                    margin-bottom: 20px;

                    @media(max-width:767px) {
                        margin-bottom: 12px;
                        font-size: 16px;
                    }
                }

                select {
                    height: auto;
                    padding: 22px;
                    border-radius: 25px;
                    border: 2px solid #ededed;
                    box-shadow: none;
                    outline: none;
                    background: #fff url(../imgs/select_arrow.png) no-repeat left 1rem center;

                    @media(max-width:767px) {
                        padding: 14px;
                        font-size: 12px;
                    }
                }

                button {
                    width: 100%;
                    color: #fff;
                    background-color: #ED1C24;
                    border-radius: 24px;
                    border: none;
                    padding: 22px;
                    font-size: 18px;
                }
            }

            .checkbox_div {
                flex-direction: row;
                align-items: center;

                input {
                    width: auto;
                    margin-inline-end: 10px;
                    height: 20px;
                    width: 20px;
                }

                label {
                    font-size: 16px;
                    margin: 0;
                }
            }

            .discount {
                margin-bottom: 40px;

                input {
                    width: 285px;

                    &::placeholder {
                        color: #000;
                    }
                }
            }
        }
    }

    .steps {
        background-color: #f8f8f8;
        border-radius: 25px;
        padding: 50px 16px 170px;

        @media(max-width:767px) {
            
            padding: 50px 16px 50px;
            margin-bottom: 24px;
        }
        h6 {
            font-size: 24px;
            font-family: $medium;
            margin-bottom: 18px;
            line-height: 45px;
        }

        .step {
            display: flex;
            margin-bottom: 20px;


            span {
                width: 28px;
                height: 28px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-inline-end: 18px;
                background-color: #7E38AD;
                flex-shrink: 0;
            }

            p {
                font-family: $medium;
                line-height: 30px;
                color: $mainColor;
                width: 60%;

                @media(max-width:767px) {
                    width: 100%;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}